<div class="tituloPagina">
    <h4>
        EDIÇÃO DO AGENDAMENTO
    </h4>
</div>
<form (ngSubmit)="submit()" [formGroup]="agendamentoForm" #formDir="ngForm">
    <input type="hidden" formControlName="_id">
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="fill">
                <mat-label for="data">Nova data:</mat-label>
                <input matInput [matDatepicker]="picker2" type="text" formControlName="data" name="data" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field>
                <mat-label for="hora">Nova hora:</mat-label>
                <input matInput type="time" formControlName="hora" required>
            </mat-form-field>
            <div *ngIf="hora.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="hora.errors?.['required']">Há campos vazios.</p>
            </div>
        </div>
    </div>
    <input class="btn btn-outline-danger" id="btnOpcao" routerLink="/agendamentos/usuario" value="Cancelar">
    <input class="btn btn-outline-info" id="btnOpcao" type="submit" value="Salvar edição">
</form>