<div class="tituloPagina">
    <h3>FUNCIONÁRIOS</h3>
</div>
<div class="row">
    <button class="btn btn-outline-info btnMenuSuperior" routerLink="/funcionarios/cadastrar">
        Cadastrar funcionário(a)
    </button>
    <mat-form-field id="inputFiltro">
        <mat-label>Busque um(a) fucionário(a) pelo nome</mat-label>
        <input id="matInput" matInput type="text" [(ngModel)]="value" (input)="search($event)">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="recarregarTodosOsUsuarios()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div *ngIf="funcionariosFiltrados.length > 0; else semFuncionarios" class="d-flex align-content-stretch flex-wrap">
    <span *ngFor="let funcionario of funcionariosFiltrados">
        <mat-card>
            <mat-card-content>
                <p *ngIf="funcionario.foto != ''; else semFoto">
                    <img [src]="funcionario.foto">
                </p>
                <p>
                    <ng-template #semFoto>
                        <img src="https://www.documentodoestudante.com.br/assets/img/avatar.png">
                    </ng-template>
                </p>

                <p>
                    <b>{{funcionario.nome}}</b> <br>
                    Cargo: {{funcionario.cargo}} <br>
                    Idade: {{funcionario.idade}} <br>
                    Naturalidade: {{funcionario.naturalidade}} <br>
                    Ano admissão: {{funcionario.anoAdmissao}} <br>
                    Hobbie: {{funcionario.hobbie}} <br>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-outline-info" routerLink="/funcionarios/editar-foto/{{funcionario._id}}">Alterar foto</button> <br>
                <button class="btn btn-outline-info" routerLink="/funcionarios/editar/{{funcionario._id}}">Editar</button> <br>
                <button class="btn btn-outline-danger" (click)="excluirFuncionario(funcionario._id!)">Excluir</button>
                <br>
            </mat-card-actions>
        </mat-card>
    </span>
</div>
<ng-template #semFuncionarios>
    <h4 class="alert alert-danger" role="alert">Não há funcionários cadastrados.</h4>
</ng-template>