<div class="tituloPagina">
    <h3>COMIDAS</h3>
</div>
<div class="row">
    <button *ngIf="isAdmin" class="btn btn-outline-info btnMenuSuperior" routerLink="/comidas/cadastrar">
        Cadastrar comida
    </button>
    <mat-form-field id="inputFiltro">
        <mat-label>Busque uma comida</mat-label>
        <input id="matInput" matInput type="text" [(ngModel)]="value" (input)="search($event)">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="recarregarTodosOsUsuarios()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div *ngIf="comidasFiltradas.length > 0; else semComidas" class="d-flex align-content-stretch flex-wrap">
    <span *ngFor="let comida of comidasFiltradas">
        <mat-card>
            <mat-card-content>
                <p *ngIf="comida.foto != ''; else semFoto">
                    <img [src]="comida.foto">
                </p>
                <p>
                    <ng-template #semFoto>
                        <img src="https://www.documentodoestudante.com.br/assets/img/avatar.png">
                    </ng-template>
                </p>
                <p>
                    <b>{{comida.nome}}</b> <br>
                    Preço: {{comida.preco}} reais <br>
                </p>
                <p class="overflow-auto"> Descrição: {{comida.descricao}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="isAdmin" class="btn btn-outline-info" routerLink="/comidas/editar-foto/{{comida._id}}">Alterar foto</button> <br>
                <button *ngIf="isAdmin" class="btn btn-outline-info" routerLink="/comidas/editar/{{comida._id}}">Editar</button> <br>
                <button *ngIf="isAdmin" class="btn btn-outline-danger" (click)="excluirComida(comida._id!)">Excluir</button> <br>
            </mat-card-actions>
        </mat-card>
    </span>
</div>
<ng-template #semComidas>
    <h4 class="alert alert-danger" role="alert">Não há comidas cadastradas.</h4>
</ng-template>