<div class="tituloPagina">
    <h3>SOBRE O ROCK AM RING  <img id="mao" src="../../../favicon.ico"></h3>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-3">
            <p><img id="fotoBar" src="../../../assets/bar.webp"></p>
        </div>
        <div class="col-3">
            <p id="textoLadoDaFoto">
                O Rock Am Ring é a casa de rock mais antiga do Rio de Janeiro. Resistindo desde 1997 em Botafogo, está
                localizado num casarão com uma grande área externa coberta, três bares, dose dupla de destilados a noite
                toda e três ambientes com DJ tocando o melhor do rock and roll.
            </p>
        </div>
    </div>
    <p id="textoHorarioAtendimento"> Abrimos sexta, sábado e véspera de feriado das 19h às 05h. Você vai poder experimentar drinks deliciosos,
        comer refeições ma-ra-vi-lho-sas do nosso novo cardápio e curtir eventos esportivos no nosso telão.
        Realize reservas, listas de aniversário e eventos aqui no nosso site, pelo telefone ((21) 99999-9999) ou e-mail (contato@rockamring.com.br). 
        <br><br>
        Siga nossas redes sociais: <br><br>
        <a routerLink="/"><img src="../../../assets/whatsapp.png"></a>
        <a routerLink="/"><img src="../../../assets/facebook.png"></a>
        <a routerLink="/"><img src="../../../assets/instagram.png"></a>
    </p>
</div>