<div class="tituloPagina">
    <h3>SOBRE O STONES ROCK BAR</h3>
</div>
<div class="container">
    <p>
        O Stones Rock Bar é a casa de rock mais antiga do Rio de Janeiro. Resistindo desde 1997 em Botafogo, está
        localizado num casarão com uma grande área externa coberta, três bares, dose dupla de destilados a noite toda e
        três ambientes com DJ tocando o melhor do rock and roll.

        Abrimos sexta, sábado e véspera de feriado das 19h às 05h. Você vai poder experimentar drinks deliciosos, comer
        refeições ma-ra-vi-lho-sas do nosso novo cardápio e curtir eventos esportivos no nosso telão.
    </p>
    <p>
        Realizar reservas, listas de aniversário e eventos via e-mail: <i>contato@barsantorock.com.br</i>
    </p>
    <img src="../../../assets/iconNeon.png">
</div>