
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
}

mat-toolbar {
    background-image: linear-gradient(to right, #4e1f2b, #140408);
    height: 13%
}

mat-sidenav {
    background-color: #4e1f2b;
    width: 19%;
    padding-top: 2%;
    border-top: 1px solid #4e1f2b;
    text-align: center;
    font-size: 22px;
}

mat-sidenav-content {
    background-color: #140408;
}

#logo {
    height: 80px;
    margin: 10px 0 0 6%;
}

#conteudoPagina {
    height: 85vh; 
}

