a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    width: 100px;
    transition: width 0.4s;
}

a:hover,
.active {
    position: relative;
    display: inline-block;
    width: 230px;
    border-radius: 5px;
    background-color: #00eeff;
    color: black;
    font-weight: bolder;
}

mat-toolbar {
    background: linear-gradient(to right, #140408, #220d14, #1d0d11f3);
    border-bottom: 1px solid #00eeff;
    height: 70px;
}

mat-sidenav {
    width: 250px;
    padding-top: 7%;
    border-right: 1px solid #00eeff;
    text-align: center;
    font-size: 22px;
    background: linear-gradient(170.97deg, #140409 25%, #241116f3 99.04%);
    backdrop-filter: blur(4.5px);
    overflow-y: hidden;
}

mat-sidenav-content {
    height: 800px;
    background-color: #140409;
    padding: 5px;
}

#logo {
    z-index: 100;
    height: 25px;
    margin: 0 0 0 62px;

}

#conteudoPagina {
    height: 85vh;
    overflow-x: hidden;
}

#iconeLogin {
    height: 32px;
    margin-left: 10px;
}

#iconeLogout {
    height: 24px;
    margin-left: 10px;
}

.nomeUsuarioLogado {
    color: white;
    font-family: 'Inconsolata', monospace;
}

.btnIconeLogin {
    background-color: transparent;
    border: 0;
}

.icones {
    margin-top: 5px;
    text-align: end;
    width: 80%;
}