<div class="container">
    <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
        <h1 mat-dialog-title>Já possui conta?</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label for="email">E-mail:</mat-label>
                <input matInput type="email" formControlName="email" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="senha">Senha:</mat-label>
                <input matInput type="password" formControlName="senha" required>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="submit" (click)="fecharModal()" mat-button><span>Login</span></button>
        </div>
        <hr>
        <h1 mat-dialog-title>Se não possui conta</h1>
        <div mat-dialog-actions>
            <button mat-button routerLink="usuarios/cadastrar" (click)="fecharModal()"><span>Cadastre-se</span></button>
        </div>
    </form>
</div>