mat-form-field {
    width: 300px;
}

button {
    margin-left: 18%;
    width: 300px;
    background-color: rgb(13, 80, 124);
}

span {
    color: white;
    font-weight: bolder;
    font-family: 'Inconsolata', monospace;
}
.container {
    text-align: center;
}