body, html {
    overflow: hidden;
}

p,
a {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 255, 255);
}

.overflow-auto {
    text-align: justify;
    padding-right: 8px
}

.tituloPagina {
    -webkit-animation: cores 6s linear infinite;
    -moz-animation: cores 6s linear infinite;
    -o-animation: cores 6s linear infinite;
    animation: cores 6s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 30px;
}

/*CHROME*/
@-webkit-keyframes cores {
    0% {
        background-color: rgb(255, 255, 255);
    }

    20% {
        
        background-color: #00eeff;
    }

    40% {
        background-color: #e4e28e;
    }

    60% {
        background-color: rgba(199, 3, 3, 0.801);
    }

    80% {
        background-color: #00eeff;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

/*FIREFOX*/
@-moz-keyframes cores {
    0% {
        background-color: rgb(255, 255, 255);
    }

    20% {
        
        background-color: #00eeff;
    }

    40% {
        background-color: #e4e28e;
    }

    60% {
        background-color: rgba(199, 3, 3, 0.801);
    }

    80% {
        background-color: #00eeff;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

/* OPERA */
@-o-keyframes cores {
    0% {
        background-color: rgb(255, 255, 255);
    }

    20% {
        
        background-color: #00eeff;
    }

    40% {
        background-color: #e4e28e;
    }

    60% {
        background-color: rgba(199, 3, 3, 0.801);
    }

    80% {
        background-color: #00eeff;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

/* IE */
@keyframes cores {
    0% {
        background-color: rgb(255, 255, 255);
    }

    20% {
        
        background-color: #00eeff;
    }

    40% {
        background-color: #e4e28e;
    }

    60% {
        background-color: rgba(199, 3, 3, 0.801);
    }

    80% {
        background-color: #00eeff;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}