/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

p, a {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 255, 255);
}
