mat-card {
    width: 215px;
    height: 255px;
    padding: 2px;
    margin-left: 6px;
    margin-top: 10px;
    background: linear-gradient(132.97deg, rgba(255, 255, 255, 0.192) 2.84%, rgba(243, 243, 243, 0.03) 99.04%);
    opacity: 1;
    backdrop-filter: blur(4.5px);
    border-radius: 20px;
    font-size: 14px;
    scroll-behavior: auto;
}

img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, rgb(199, 3, 173), #c326f3, #00eeff) border-box;
}

button {
    width: 90px;
    height: 33px;
    font-size: 12px;
    margin-left: 25%;
}

h3 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    padding-top: 40px
}

h4 {
    background-color: rgba(255, 255, 255, 0.144);
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: white;
    width: 200px;
    margin-left: 40%;
    margin-top: 5%;
}

#inputFiltro {
    width: 500px;
    margin-left: 4px;
    font-size: 14px;
}

.btnMenuSuperior {
    width: 175px;
    height: 57px;
    margin-left: -10%;
    font-size: 14px;
}

.row {
    margin-left: 25%;
    margin-top: 20px;
}

.d-flex {
    margin-left: 30px;
}

.overflow-auto {
    height: 55px;
    margin-top: -13px;
}
