<div class="tituloPagina">
    <h3>MEUS AGENDAMENTOS</h3>
</div>
<div class="row">
    <mat-form-field id="inputFiltro">
        <mat-label>Busque um evento agendado</mat-label>
        <input id="matInput" matInput type="text" [(ngModel)]="value" (input)="search($event)">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"
            (click)="recarregarTodosOsAgendamentos()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div *ngIf="agendamentosFiltrados.length > 0; else semAgendamentos" class="d-flex align-content-stretch flex-wrap">
    <span *ngFor="let agendamento of agendamentosFiltrados">
        <mat-card>
            <mat-card-content>
                <p>
                    <b>{{agendamento.nomeEvento}}</b> <br>
                    Data: {{agendamento.data | date: 'dd/MM/yyyy' }} <br>
                    Hora: {{agendamento.hora}} <br>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-outline-info" routerLink="/agendamentos/editar/{{agendamento._id}}">Editar</button> <br>
                <button class="btn btn-outline-danger" (click)="excluirAgendamento(agendamento._id!)">Excluir</button>
                <br>
            </mat-card-actions>
        </mat-card>
    </span>
</div>
<ng-template #semAgendamentos>
    <h4 class="alert alert-danger" role="alert">Não há eventos agendados.</h4>
</ng-template>