<div class="container">
    <h2><b>FUNCIONÁRIOS</b></h2>
    <div id="ajusteEspacoMenuSuperior">
        <button class="btn btn-outline-info btnMenuSuperior" routerLink="/funcionarios/cadastrar">Cadastrar
            funcionário</button> <br>
        <div class="row">
            <mat-form-field id="inputFiltro">
                <mat-label>Insira um dado para buscar</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button class="btn btn-outline-info btnMenuSuperior">Buscar</button>
        </div>
    </div>
</div>
<div class="d-flex align-content-stretch flex-wrap">
    <span *ngFor="let funcionario of todosOsFuncionarios">
        <mat-card>
            <mat-card-content>
                <p><img [src]="funcionario.foto"> <br></p>
                <p id="dadosFuncionario">
                    {{funcionario.nome}} <br>
                    Cargo: {{funcionario.cargo}} <br>
                    Idade: {{funcionario.idade}} <br>
                    Naturalidade: {{funcionario.naturalidade}} <br>
                    Hobbie: {{funcionario.hobbie}} <br>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-outline-info" routerLink="/funcionarios/editar-foto/{{funcionario._id}}">Alterar
                    foto</button> <br>
                <button class="btn btn-outline-info"
                    routerLink="/funcionarios/editar/{{funcionario._id}}">Editar</button> <br>
                <button class="btn btn-outline-danger" (click)="excluirFuncionario(funcionario._id!)">Excluir</button>
                <br>
            </mat-card-actions>
        </mat-card>
    </span>
</div>