<div><button routerLink="/funcionarios/cadastrar">Cadastrar funcionário</button></div>
<div *ngFor="let funcionario of todosOsFuncionarios">
    
    <mat-card style="color: black">Ola</mat-card>


    <p><img [src]="funcionario.foto"></p>
    <p>{{funcionario.nome}}</p>
    <p>{{funcionario.cargo}}</p>
    <button routerLink="/funcionarios/editar-foto/{{funcionario._id}}">Alterar foto</button>
    <button routerLink="/funcionarios/editar/{{funcionario._id}}">Editar</button>
    <button (click)="excluirFuncionario(funcionario._id!)">Excluir</button>
    <hr>
</div>